<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Navbar -->
    <%- include("../partials/nav.ejs")%>

    <!-- Main Section -->
    <main class="hero">
      <div class="container">
        <!-- Popular Articles -->
        <section class="popular-articles">
          <div class="article card">
            <div class="info flex">
              <div class="top">
                <a href="">Javascript</a>
                <span>24-5-2021</span>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="article card">
            <div class="info flex">
              <div class="top">
                <a href="">Javascript</a>
                <span>24-5-2021</span>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </section>

        <!-- Recently added Articles -->

        <section class="recent-articles">
          <h2>Recent Articles</h2>

          <div class="articles-div">
            <% articles.forEach(async (article) => {%> <% const time =new
            Date(article.createdAt).toLocaleString("gu-IN", { hour: "numeric",
            minute: "numeric", hour12: true, }); const date = new
            Date(article.createdAt); const d = date.getDate() ;const m =
            date.getMonth();const y = date.getFullYear(); %>
            <a href="/article/<%=article._id%>">
              <div class="r-article card" data-id="<%=article._id %>">
                <img
                  src="<%= `https://source.unsplash.com/random/30${Math.floor(Math.random()*15)}*30${Math.floor(Math.random()*9)}`  %>"
                />

                <div class="r-article-info">
                  <p href=""><%=article.relatedTo%></p>
                  <span><%= `${d}-${m}-${y} ${time}` %></span>
                  <p><%= article.title %></p>
                </div>
              </div>
            </a>
            <%}); %>

            <!-- Sample Article -->
            <!-- <div class="r-article card">
              <img src="https://source.unsplash.com/random" alt="" />
              <div class="r-article-info">
                <a href="">Javascript</a>
                <span>24-5-2021</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
        </section>
      </div>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
