<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Navbar -->
    <%- include("../partials/nav.ejs")%>

    <!-- Main Section -->
    <main class="hero">
      <div class="container tobehide">
        <!-- Popular Articles -->
        <h1>Popular articles</h1>
        <section class="popular-articles">
          <%const as = articles.sort((a,b)=> b.views-a.views )%> <%for(i=0;
          i<2;i++){%>
          <a
            class="article card"
            href="/article/<%=as[i]._id%>/<%=as[i].views%>"
          >
            <div class="popular-poster">
              <img
                src="<%= `https://source.unsplash.com/random/30${Math.floor(Math.random()*15)}*30${Math.floor(Math.random()*9)}`  %>"
              />
            </div>
            <div class="info flex">
              <div class="top">
                <button href=""><%=as[i].relatedTo%></button>
                <% const time =new Date(as[i].createdAt).toLocaleString("gu-IN",
                { hour: "numeric", minute: "numeric", hour12: true, }); const
                date = new Date(as[i].createdAt); const d = date.getDate()
                ;const m = date.getMonth();const y = date.getFullYear(); %>
                <span> <%= `${d}-${m}-${y} ${time}` %></span>
              </div>
              <p><%= as[i].title %></p>
            </div>
          </a>
          <%} %>
        </section>

        <!-- Recently added Articles -->

        <section class="recent-articles">
          <h2>Recent Articles</h2>

          <div class="articles-div">
            <% articles.sort((a,b)=> a.views-b.views )%> <%
            articles.forEach(async (a) => {%> <% const time =new
            Date(a.createdAt).toLocaleString("gu-IN", { hour: "numeric", minute:
            "numeric", hour12: true, }); const date = new Date(a.createdAt);
            const d = date.getDate() ;const m = date.getMonth();const y =
            date.getFullYear(); %>
            <a href="/article/<%=a._id%>/<%=a.views%>">
              <div class="r-article card" data-id="<%=a._id %>">
                <button class="delete-btn" data-id="<%= a._id %> ">
                  Delete
                </button>
                <img
                  src="<%= `https://source.unsplash.com/random/30${Math.floor(Math.random()*9)}*30${Math.floor(Math.random()*9)}`  %>"
                />

                <div class="r-article-info">
                  <span><%=a.relatedTo%></span>
                  <span><%= `${d}-${m}-${y} ${time}` %></span>
                  <p><%= a.title %></p>
                </div>
              </div>
            </a>
            <%}); %>

            <!-- Sample Article -->
            <!-- <div class="r-article card">
              <img src="https://source.unsplash.com/random" alt="" />
              <div class="r-article-info">
                <a href="">Javascript</a>
                <span>24-5-2021</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div> -->
          </div>
        </section>
      </div>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
